[MASTER]
load-plugins=pylint_django
ignore=migrations

[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        too-few-public-methods,
        invalid-name,
        imported-auth-user,
        too-many-ancestors,
